.slider-slide {
  opacity: 0.5;
}

.slide-visible {
  opacity: 1;
}

.slider-frame {
  overflow: visible !important;
  padding: 0rem 2rem;
}

.slider-control-centerleft {
  left: -10.5rem !important;
}

.slider-control-centerright {
  right: -10.5rem !important;
}

.carousel-section {
  overflow: hidden;
}

.swiper-container {
  overflow: visible !important;
}

.swiper-slider {
  margin-right: 1rem;
  margin-left: 1rem;
}

.swiper-slide {
  opacity: 0.5;
  padding: 0rem 1rem;
}

.swiper-slide-active {
  opacity: 1;

}